*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, system-ui, sans-serif;
}

.container {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #dfbf0b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.nav-bar li,
.side-footer li {
    list-style: none;
}

.nav-bar li,
.side-footer li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.nav-bar img,
.side-footer img {
    width: 20px;
}

.logo img {
    width: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.hero {
    grid-column: 2 / 5;
    grid-row: 1 / 1;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero img {
    width: 20px;
}

#search-bar {
    border-radius: 20px;
    border: 1px solid #e7e7e7;
    background-color: #e7e7e7;
    width: 100%;
    height: 40%;
    font-size: 1rem;
    padding: 10px;
}

#search-bar:focus {
    outline: none;
}

.hero-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e7e7e7;
}

.profile-picture img,
.pro-photo img,
.person-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.hero-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.hero-profile p {
    margin-right: 20px;
}

.hero-greeting {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pro-photo {
    height: 80px;
    width: 80px;
    background-color: #e7e7e7;
    border-radius: 50%;
}

.hero-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.hero-controls div {
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    background-color: #2b4fd4;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 
        transform 0.5s ease,
        box-shadow 0.5s ease;
}

.hero-controls div:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px 10px rgba(66,110,209,0.8);;
    
}

.admin-name p + p {
    font-weight: 550;
    font-size: 1.2rem;
}

.projects {
    grid-column: 2 / 5;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    background-color: #f1f0f0;

}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cards-title {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
}

.cards-title h3 {
    font-size: 1.5rem;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-left: 5px solid #dfbf0b;
    border-radius: 8px;
}

.card h4,
.card p {
    margin-bottom: 10px;
}

.cards img {
    width: 20px;
    margin: 10px;
}

.card-icons {
 float: right;
}

.ans-trends {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.ans-trends h3 {
    font-size: 1.5rem;
}

.announcements {
    display: grid;
    gap: 30px;
}

.ann-card {
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
}

.ann-card h4,
.ann-card p {
    margin-bottom: 5px;
}

hr {
 margin: 5px;
}

.trending-card {
    display: grid;
    grid-template-columns: 70px 2fr;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.trending h3 {
    margin-top: 20px;
}

.trending {
    display: grid;
    gap: 30px;
}

.person-photo {
    height: 50px;
    width: 50px;
    background-color: #e7e7e7;
    border-radius: 50%;
}